body {
    height: 100vh;
    cursor: default;
}
.container-fluid {
    height: 100%;
    width: 100%;
}
#branding {
    height: 6%;
    background-color: white;
    color: rgb(50,50,50);
    padding-left: 10px;
    font-size: 20px;
    border-bottom: .5px solid gray;
    cursor: default;
}
.row {
    height: 94%;
}
.col-md-5, .col-md-2{
    padding: 0;
    height: 100%;
}
.col-md-12 {
    padding: 0;
}

#cause {
    position: relative;
    border-right: 1px solid #ccc;
}
#output {
    border-right: 1px solid #ccc;
}
.sec_title {
    background-color: #eeeeee;
    height: 5%;
    font-size: 14px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: default;
}

.stoplist-wrapper{
    width: 100%;
    padding: 0;
}
.stoplist {
    height: 50px;
    border-bottom: .5px solid grey;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.stoplist:hover {
    background-color: #eee;
}

.metric {
    min-height: 100%;
    border-right: .5px solid grey;
}

.document {
    height: 50px;
    border-bottom: .5px solid grey;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.document:hover {
    background-color: #eee;
}

#sub_stoplist {
    height: 50%;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
}
#sec_metric {
    height: 40%;
    padding: 0;
    overflow: hidden;
}
#sub_metric{
    height: 100%;
    overflow-y: scroll;
}
#sub_fullStoplist {
    height: 95%;
    padding: 5px;
    overflow-y: auto;
}
#empty_warning {
    margin-left: 5px;
    font-size: 15px;
    color: rgb(50,50,50);
}
#sub_buttonPanel {
    height: 10%
}
#sub_stats {
    height: 12%;
    border-bottom: 1px solid #ccc;
}
#sub_vis {
    height: 40%;
    border-bottom: 1px solid #ccc;
}
#sub_documentList {
    height: 38%;
    position: absolute;
    overflow-y: auto;
}

#searchBar{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}
#searchDiv {
    height: 5%;
}

.metadata {
    max-height: 20px;
    padding-left: 5px;
}
.metadata-1 {
    font-weight: 450;
    font-size: 15px;
}
.metadata-2 {
    font-style: italic;
}
.preview {
    width: 100%;
    font-size: 13px;
    color: rgb(50,50,50);
    margin-top: 5px;
    margin-left: 5px;
}

.stopword {
    background-color: ghostwhite;
    font-size: 14px;
    margin: 2px;
    max-height: 28px;
    cursor: default;
    padding: 2px 2px 4px 6px;
    border: .75px solid grey;
    border-radius: 5px;
}
.disabled-stopword {
    background-color: lightgray;
}

#createStoplist-btn {
    position: absolute;
    right: 30px;
    font-size: 15px;
    cursor: pointer;
}

.stopwordRemove-btn {
    font-size: 20px;
    margin: 0px 4px;
}
.stopwordRemove-btn:focus {
    outline:0;
}

.metric-title {
    text-align: center;
    border-bottom: .5px solid grey;
    margin-bottom: 10px;
}
.metricStat {
    float: right;
    margin: 0px 5px;
    overflow: hidden;
}

li {
    list-style-type:none;
}

#modalHelperHolder {
    min-width: 1050px;
}

#modalImage {
    width: 1000px;
}

#download {
    color: black;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    top: 1%;
    right: 35px;
    cursor: pointer;
}
#download-btn {
    font-size: 20px;
}
#modalBtn {
    color: black;
    position: absolute;
    top: 1%;
    right: 10px;
    cursor: pointer;
}
#clear-btn {
    position: absolute;
    font-size: 15px;
    right: 30px;
    cursor: pointer;
}

.tooltip {
  font-size: 12px;
}
.helptip {
/*
    position: absolute;
    right: 7px;
*/
    font-size: 15px;
}
.helptip:focus {
  outline: none;
}

.hover-highlighted {
    box-shadow: 0 0 0 1pt grey;
/*    font-weight: bold;*/
}
.stoplist-highlighted {
    border: 1px solid grey;
}

.bars rect {
    shape-rendering: crispEdges;
}
.axis path, .axis line {
    fill: none;
    stroke: dimgray;
    stroke-width: 0.7px;
}
.axis {
    fill: dimgray;
    shape-rendering: crispEdges;
    font-size: 13px;
}
.axis-label {
    font-size: 14px;
    fill: dimgray;
}
.bar-label {
    font-size: 12px;
    fill: white;
}

#stats-table {
    font-size: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#stats-table tr {
    max-height: 10px;
}
.progress {
    height: 12px;
}
.stat-label {
    text-align: right;
    border-right: .5px solid grey;
    padding-right: 5px;
    width: 23%;
}
.stat-inner {
    padding: 0px 5px;
    color: dimgray;
    font-weight: 600;
}
.doc-header {
    max-height: 20px;
    padding-left: 5px;
}
.doc-metadata {
    width: 40%;
    font-size: 15px;
    font-weight: 450;
}
.doc-preview {
    color: gray;
    font-size: 13px;
    color: rgb(50,50,50);
    margin-left: 5px;
    margin-top: 5px;
}
.doc-progress {
    width: 60%;
    margin: 8px;
}

.stoplistEdit {
    font-size: 12px;
    position: absolute;
    top: 10%;
    right: 4%;
    cursor: pointer;
}
.stoplistDelete {
    font-size: 12px;
    position: absolute;
    top: 10%;
    right: 1%;
    cursor: pointer;
}
#colorSig {
    position: fixed;
    left: 60px;
    height: 15px;
    width: 15px;
    background-color: #FA8072;
    border-radius: 50%;
}