body {
    height: 100vh;
}
.container-fluid {
    height: 100%;
}
.row {
    height: 100%;
}
.col-md-5, .col-md-2{
    padding: 0;
    height: 100%;
}
.col-md-12 {
    padding: 0;
}

#cause {
    position: relative;
    border-right: 1px solid #ccc;
}
#output {
    border-right: 1px solid #ccc;
}
#effect {
    
}

.sec_title {
    background-color: #eeeeee;
    height: 5%;
    font-size: 14px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.stoplist-wrapper{
    width: 100%;
    padding: 0;
}
.stoplist {
    height: 60px;
    border-bottom: .5px solid grey;
    width: 100%;
    margin: 0;
    position: relative;
    padding: 0 5px;
}
.stoplist:hover {
    background-color: #eee;
}

.metric {
    height: 100%;
    border-right: .5px solid grey;
}

.document {
    height: 60px;
    border-bottom: .5px solid grey;
    padding: 0 5px;
    margin: 0;
    position: relative;
}
.document:hover {
    background-color: #eee;
}

.button_slot {
    height: 100%;
    width: 34%;
    padding: 10px;
}

#sub_stoplist {
    height: 50%;
    border-bottom: 1px solid #ccc;
/*    overflow-y: scroll;*/
}
#sub_metric {
    height: 40%;
}
#sub_metric{
    height: 100%;
}
#sub_fullStoplist {
    height: 85%;
    padding: 5px;
}
#sub_buttonPanel {
    height: 10%
}
#sub_stats {
    height: 10%;
    border-bottom: 1px solid #ccc;
}
#sub_vis {
    height: 40%;
    border-bottom: 1px solid #ccc;
}
#sub_documentList {
    height: 45%;
    position: absolute;
    overflow-y: scroll;
}

#searchBar{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.stop-metadata {
    width: 100%;
    font-size: 15px;
    cursor: default;
    padding: 0;
}

.stopword-preview {
    width: 100%;
    color: gray;
    cursor: default;
    padding: 0;
}
.hover-options {
    font-size: 12px;
    padding: 0;
}
.listcontentwrapper {
    padding: 0;
}

.stopword {
    background-color: ghostwhite;
    font-size: 14px;
    margin: 2px;
    max-height: 28px;
    cursor: default;
    padding: 2px 2px 4px 6px;
    border: .75px solid grey;
    border-radius: 5px;
}

#createStoplist-btn {
    position: absolute;
    right: 1%;
    top: 85%;
    border-radius: 50%;
}

.stopwordRemove-btn {
    font-size: 20px;
    margin: 0px 4px;
}

.stopwordRemove-btn:focus {
    outline:0;
}

.stoplistEdit-btn {
    position: absolute;
    font-size: 12px;
    width: 50px;
    right: 1%;
    top: 5%;
    padding: 2px;
}

.stoplistDelete-btn {
    position: absolute;
    font-size: 12px;
    width: 50px;
    right: 1%;
    top: 53%;
    padding: 2px;
}

.stoplistInfoWrapper {
    height: 100%;
}