<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title> Stopifu </title>
</head>
    
    
<body>
    <div class="modal fade" id="addStoplistPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> New Stoplist </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"> 
                    <div class="form-group">
                        <label for="createStoplistName" class="col-form-label">Stoplist Name</label>
                        <input type="text" class="form-control" id="createStoplistName">
                        <label for="createStoplistCategory" class="col-form-label">Category</label>
                        <input type="text" class="form-control" id="createStoplistCategory">
                        <label for="createStoplistWords" class="col-form-label">Stopwords (optional)</label>
                        <textarea type="text" class="form-control" id="createStoplistWords"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmStoplist-btn" onclick="createStoplist()">Create Stoplist</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editStoplistPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stoplistEditTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"> 
                    <div class="d-flex align-content-start flex-wrap" id="stoplistEditWords" disabled></div>
                    <div class="form-group">
                        <label for="stopword-form" class="col-form-label">Stopwords to add</label>
                        <textarea class="form-control" id="stoplistEditform"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEdit-btn">Close</button>
                    <button type="button" class="btn btn-primary" id="stoplistAddBtn">Add Words</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid" aria-hidden="true">
        <div class="row">
            <div id="cause" class="col-md-5">
                <div class="col-md-12 sec_title navbar navbar-default">
                    Stoplists
                    <button class="helptip" data-toggle="tooltip" data-placement="left" title="Click a stoplist to activate it.">?</button>
                </div>
                <div class="col-md-12 sub_section" id="sub_stoplist">
                    <div class="d-flex flex-column" id="stoplists"></div>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addStoplistPopup" id="createStoplist-btn">
                        +
                    </button>
                </div>
                <div class="col-md-12 sec_title navbar navbar-default">
                    Metrics
                    <button class="helptip" data-toggle="tooltip" data-placement="left" title="Click a word to add/remove from your stoplist. <br> Hover to see advanced statistics.">?</button>
                </div>
                <div class="col-md-12 sub_section" id="sec_metric">
                    <div class="container-fluid" aria-hidden="true" id="sub_metric">
                        <div class="row">
                            <div class="col-md-4 metric" id="freqList"> 
                                <div class="metric-title"> By Frequency </div>
                            </div>
                            <div class="col-md-4 metric" id="lengthList"> 
                                <div class="metric-title"> By Length </div>
                            </div>
                            <div class="col-md-4 metric" id="tfidfList"> 
                                <div class="metric-title" data-toggle="tooltip" data-placement="left" title="Term Frequency Inverse Document Frequency shows the importance of a word to a specific doc. in a corpus."> By Max. TFIDF </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="output" class="col-md-2">
                <div class="col-md-12 sec_title navbar navbar-default">
                    Output
                    <button class="helptip" data-toggle="tooltip" data-placement="left" title="Click 'x' to disable a stopword.<br> Click the download button to save the stoplist.">?</button>
                </div>
                <div class="col-md-12 sub_section d-flex align-content-start flex-wrap" id="sub_fullStoplist">
                    <button type="button" class="btn btn-default" id="download-btn" onclick="download()">
                    <span> D </span>
                </button>
                </div>
            </div>
            
            <div id="effect" class="col-md-5">
                <div class="col-md-12 sec_title navbar navbar-default">
                    Documents
                    <button class="helptip" data-toggle="tooltip" data-placement="left" title="Document statistics are updated based on activated stoplists/words.">?</button>
                </div>
                <div class="col-md-12 sub_section" id="sub_stats">
                    <table id="stats-table">
                        <tr>
                            <td class="stat-label">% of corpus</td>
                            <td id="stat1" class="stat-inner">
                                    <div class="progress"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="stat-label">Average doc. freq.</td>
                            <td id="stat2" class="stat-inner">
                                    <div class="progress"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="stat-label">Average freq.</td>
                            <td id="stat3" class="stat-inner"></td>
                        </tr>
                    </table>
                    
<!--
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3" id="stats-title">
                                <li> % of corpus </li>
                                <li> - </li>
                                <li> Average doc. freq. </li>
                            </div>
                            <div class="col-md-9" id="stats-inner">
                                <li id="stat1">
                                    <span></span>
                                    <div class="progress"></div>
                                </li>
                                <li id="stat2">
                                    <span></span>
                                    <div class="progress"></div>
                                </li>
                                <li id="stat3"></li>
                            </div>
                        </div>
                    </div>
-->
                </div>
                <div class="col-md-12 sub_section" id="sub_vis"></div>
                <div class="col-md-12" id="searchDiv"> 
                    <input type="text" id="searchBar" onkeyup="queryDocuments()" placeholder="Search for document...">
                </div>
                <div class="col-md-12 sub_section" id="sub_documentList">
                    <div class="d-flex flex-column" id="documents">                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
    
<script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var documentNames = {{ documentNames|tojson|safe }};
    var stoplistNames = {{ stoplistNames|safe }};
    var tokenStatistics = {{ tokenStatistics|tojson|safe }};
</script>
    
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    
</html>